{% extends '_helpers/cog-variables.twig' %}
{% block content %}
{{ void(this.beginBlock('content')) }}
 {% set articles = articlesArr.articles %}
 {{ set(this, 'title', article.title) }}



 	{# Need to move this to _helpers/cog-variables.twig #}
	{% set author = article.createdBy['displayName'] %}
	{% set authorLink = _AppHelper.getUserProfileUrl(article.createdBy['username']) %}
  {% set authorBio = _User.getUser().bio %}
  {% set authorImage = _Media.getMediaUrl(article.createdBy['media'],104,104,{crop:'thumb', gravity:'face', radius:'max'} ) %}

	<div class="article__body">
		<div class="article article--{{ channel|lower }} {{ channelObject[channel|lower] }}">

			<div class="article__header">
				<div class="article__profile">
					<span class="profile__user_image" style="background-image: url('{{ authorImage }}');"></span>
					<div class="profile__author_wrap">
						<div>
							<span class="article__author">By {{ author }}</span>
							<a href="{{authorLink}}}" class="button button-sm button-blue">View profile</a>
						</div>
						<div class="profile__author-bio">{{ authorBio }}</div>
					</div>
				</div>
				<div class="article__header_actions">
					<a href="#comments" class="button button__comments header_actions header_actions__comments article__header-item">16 Comments</a>
					<a href="javascript:void(0)" class="button button__share header_actions header_actions__share article__header-item">Share Article
						{% include 'layouts/elements/share-popup.twig' | raw %}
					</a>
				</div>
			</div>
			<div class="article__container">


				<div class="article__channel_wrap">
					<div class="article__channel">{{ channel | raw }}</div>
				</div>
				<h1 class="article__headline">{{ headline | raw }}</h1>
				<div class="article__date">{{ date | raw }}</div>
				<div class="article__intro">{{ text | raw }}</div>

			</div>
			<div class="article__container--full-width">
				<div class="article__banner-container">
					<div class="article__banner_left">
						<h3 class="article__banner_heading">Get an unfair advantage</h3>
						<div class="article__banner_sub-heading">The best from The Resolution, delivered to your inbox every month.</div>
					</div>
					<div class="article__banner_right">
						<form class="newsletter-form" action="">
							<input type="text" class="newsletter-form-text" placeholder="Email" name="s" value="">
							<button class="newsletter-form__form-btn">Sign Up <i class="fa fa-envelope"></i></button>
						</form>
					</div>
				</div>

				<div class="slides">
					{% for image in article.media %}
						{% set embed = media %}
						{% if embed is not null %}
							{% set image = embed %}
							{% set thumbnail = '//img.youtube.com/vi/' ~ embed.url|replace('/.+watch\\?v=(.+)/', '$1') ~ '/maxresdefault.jpg' %}
						{% else %}
							{% set thumbnail = image.path %}
						{% endif %}

						<div class="slide" itemprop="image" itemscope itemtype="https://schema.org/ImageObject"  data-thumbnail="{{thumbnail}}" style='background-image: url({{ thumbnail }})'>
							<meta itemprop="url" content="{{image.path}}">
							<meta itemprop="height" content="{{image.height}}">
							<meta itemprop="width" content="{{image.width}}">
							{% if image.type == 'video' %}
								<a href="javascript:void(0)" itemprop="video" class="video-overlay playVideo" data-type="{{embed.url}}" data-media="{{embed | json_encode}}"  data-videoid="" data-title="{{embed.title | raw}}">
									{% set embed = '<iframe class="slick-video" src="https://www.youtube.com/embed/' ~ image.videoId ~ '" frameborder="0" allowfullscreen></iframe>' %}
									{{ embed|raw }}
									{#<div class="slick-video__overlay">#}
									{#</div>#}
								</a>
							{% endif %}
							{#{% if image | length %}#}
							{#<div class="slide__content">#}
							{#<p class="slide__caption">{{media.caption | raw}}</p>#}
							{#</div>#}
							{#{% endif %}#}
						</div>
						{{dump(image)}}
					{% endfor %}
				</div>
			</div>



			<div class="article__container">

				{{article.content | raw}}

				<h2 class="comments-header" id="comments"><span class="disqus-comment-count" data-disqus-url="{{link}}"></span>Comments</h2>
				{% include "layouts/elements/disqus.twig" | raw %}
			</div>


		</div>

	</div>
	{% include 'layouts/elements/deloit-banner.twig' %}

	{% set articles = _Article.getPopularArticles({ limit: 5, excludeArticleId : articleId }) %}
	<div class="card-container">
		{% if articles|length > 0 %}
			{% include 'layouts/elements/_card-layout-thirds.twig' with {articles: articles} %}
		{% endif %}
	</div>
	{{dump(article)}}
{{ void(this.endBlock()) }}
{% endblock %}
