{% block content %}
{{ void(this.beginBlock('content')) }}
	{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
	{% set articles = articlesArr.articles %}
    <div class="channel__container">
        <div class="col-full channel__header">
            <article class="card--channel {{ channelObject[category|lower] }}">
                <a href="#" class="card card__no-image" style="background-image: url('/static/craft-media/russell-yardly-blog-bg.png');" {% if image is defined %}style="background-image: url('{{ image }}'); background-size: cover;"{% endif %}>
                    <div class="card__overlay">
                        <div class="card__content_wrap">
                            <div class="card__content">
                                <h3 class="card__headline">{{ category }}</h3>
                                <p class="card__text">Vivamus mattis justo eget est molestie, tincidunt bibendum eros cursus. Nam convallis vulputate neque et rhoncus.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        </div>
        <div class="channel">
            {% if articles|length > 0 %}
                {% include 'elements/_card-layout-blog.twig' with {articles: articles} %}
            {% endif %}
        </div>
    </div>


		{{ void(this.endBlock()) }}
{% endblock %}
