{% extends "layouts/main.twig" %}

{% block content %}
    <div class="static-page__image">
        <div class="slides">
            {% for image in entry.image %}
                {% set embed = craft.embeddedAssets.fromAsset(image) %}
                {% if embed is not null %}
                    {% set image = embed %}
                    {% set thumbnail = '//img.youtube.com/vi/' ~ embed.url|replace('/.+watch\\?v=(.+)/', '$1') ~ '/maxresdefault.jpg' %}
                {% else %}
                    {% set thumbnail = image.url %}
                {% endif %}

                <div class="slide" itemprop="image" itemscope itemtype="https://schema.org/ImageObject"  data-thumbnail="{{thumbnail}}" style='background-image: url({{ thumbnail }})'>
                    <meta itemprop="url" content="{{image.url}}">
                    <meta itemprop="height" content="{{image.height}}">
                    <meta itemprop="width" content="{{image.width}}">
                    {% if embed %}
                        <a href="javascript:void(0)" itemprop="video" class="video-overlay playVideo" data-type="{{embed.url}}" data-media="{{embed | json_encode}}"  data-videoid="" data-title="{{embed.title | raw}}">
                            {% set videoId = embed.url|replace("/.+watch\\?v=(.+)/", "$1") %}
                            {% set embed = '<iframe class="slick-video" src="https://www.youtube.com/embed/' ~ videoId ~ '" frameborder="0" allowfullscreen></iframe>' %}
                            {{ embed|raw }}
                            {#<div class="slick-video__overlay">#}
                            {#</div>#}
                        </a>
                    {% endif %}
                    {#{% if image | length %}#}
                    {#<div class="slide__content">#}
                    {#<p class="slide__caption">{{media.caption | raw}}</p>#}
                    {#</div>#}
                    {#{% endif %}#}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="static-page__body">
        <div class="static-page">
            <div class="static-page__container">
                <div class="static-page__intro">{{ entry.text }}</div>
                {{ entry.articleBody|raw }}
            </div>
        </div>
    </div>
    <h2 class="text-center additional-articles__header">You may also like ...</h2>

    {% set articles = craft.entries.section('posts').find() %}
    <div class="card-container">
        {% if articles|length > 0 %}
            {% include '/_elements/_card-layout-thirds.twig' with {articles: articles} %}
        {% endif %}
    </div>
{% endblock %}