{#{% set blogInfo = _Blog.getHomeBlogSettings()%}#}
{#<footer class="footer">#}
    {#<div class="footer__container">#}
        {#<div class="footer__info">#}
            {#<a href="{{networkData.defaultBlogUrl}}" class="footer__logo"><img src="{{_Media.getMediaUrl(networkData.logoMedia, 118, 78, {'crop': 'fit'})}}" /></a>#}

            {#<div class="social">#}
                {#{% if blogInfo.social['twitter'] is not empty %}#}
                    {#<a href="http://www.twitter.com/{{blogInfo.social['twitter']}}" class="fa_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>#}
                    {#{% endif %}#}
                    {#{% if blogInfo.social['facebook'] is not empty %}#}
                    {#<a href="http://{{blogInfo.social['facebook']}}" class="fa_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>#}
                    {#{% endif %}#}
                    {#{% if blogInfo.social['google'] is not empty %}#}
                    {#<a href="{{blogInfo.social['google']}}" class="fa_gplus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>#}
                    {#{% endif %}#}
            {#</div>#}
            {#<div class="footer__copyright">Copyright 2016</div>#}
        {#</div>#}
    {#</div>#}
{#</footer>#}

<footer class="footer">
    <div class="footer__container">
        <div class="footer__info-mobile">
            <a href="#" class="footer__logo"><img src="{{networkData.templatePath}}/static/images/logo.svg"/></a>
            <a class="footer__additional-links" href="/contact">About</a>
            <a class="footer__additional-links" href="/contact">Contact</a>
            <a class="footer__additional-links" href="/contact">Site map</a>
            <a class="footer__additional-links" href="#">Privacy Policy</a>
            <a class="footer__additional-links" href="#">Terms & Conditions</a>
            <div class="footer__additional-links footer__copyright">© All rights reserved 2016</div>
        </div>

        <div class="footer__desktop">
            <div class="footer__left">
                <a href="/" class="footer__logo"><img src="{{networkData.templatePath}}/static/images/logo.svg"/></a>
                <div class="footer__navigation">
                    <div class="header__navigation-row">
                        <ul class="header__navigation-list">
                            {% set blogs = craft.categories.group('blogs') %}
                            {% for i in 0..4 %}
                                {% set blog = blogs[i] %}
                                <li class="header__navigation-item header__navigation-item--{{ blog.slug|lower }} {{ blogObject[blog.slug|lower] }}">
                                    <a href="/blog/dev" class="header__navigation_blog-link">
                                        <img src="{{ blog.authorImage.first().url }}" alt="" class="header__navigation-image">
                                        <div class="header__navigation-name">
                                            <div class="header__navigation_first-name">{{ blog.authorFirstName }}</div>
                                            <div class="header__navigation_last-name">{{ blog.authorLastName }}</div>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="footer__additional-links">
                    <a class="footer__additional-links" href="/contact">About</a>
                    <span class="footer__additional-links_separator">|</span>
                    <a class="footer__additional-links" href="/contact">Contact</a>
                    <span class="footer__additional-links_separator">|</span>
                    <a class="footer__additional-links" href="/contact">Site map</a>
                    <span class="footer__additional-links_separator">|</span>
                    <a class="footer__additional-links" href="#">Privacy Policy</a>
                    <span class="footer__additional-links_separator">|</span>
                    <a class="footer__additional-links" href="#">Terms & Conditions</a>
                    <span class="footer__additional-links_separator">|</span>
                    <div class="footer__additional-links footer__copyright">© All rights reserved 2016</div>
                </div>
            </div>
            <div class="footer__right">
                <div class="footer__sponsor-title">PROUDLY SPONSORED BY</div>
                <div class="footer__sponsor-wrap">
                    <img src="{{networkData.templatePath}}/static/images/deloit-logo.svg" alt="">
                    <img src="{{networkData.templatePath}}/static/images/ibm-logo.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>
