{% extends '_helpers/cog-variables.twig' %}

{# ===============
   UNIVERSAL CARD
   =============== #}

{% block content  %}

	{% set cardLinkClasses %}
		card card--{{ channel|lower }} link
		{% if cardType == 'social' %}card__{{ network|lower }}{% endif %}
		{% if thumbnail == '' %} card__no-image{% endif %}
	{% endset %}

	<article class="card--{{ cardType }} {{ channelObject[channel|lower] }}">
		<a href="{{link}}" data-slug="{{ slug }}" class="{{cardLinkClasses|replace({"\n":''})}} link">
			<div class="card__overlay">
				<div class="card__content_wrap">
					{% include 'layouts/elements/_admin-actions.twig' %}
					<div class="card__content">
						<div class="card__channel-wrap">
							<div class="card__channel">{{ channel }}</div>
						</div>
						{% if cardType == 'social' %}
							{% if hasVideo == 'y' %}
								<div class="card__text-wrap">
									<h3 class="card__headline">
										{{ text|striptags[:220] ~ '...' }}
									</h3>
									<img class="card__play-button" src="{{networkData.templatePath}}/static/images/icons/play-white.svg" alt="Play video button">
								</div>
							{% else %}
								<div class="card__text-wrap">
									<h3 class="card__headline">
										{{ text|striptags[:220] ~ '...' }}
									</h3>
									{% if thumbnail != '' %}
										<div class="card__image" style="background-image: url('{{ thumbnail }}');background-size: cover;background-position:center center;">
											{% if hasVideo == 'y' %}
												<img class="card__play-button" src="{{networkData.templatePath}}/static/images/icons/play-white.svg" alt="Play video button">
											{% endif %}
										</div>
									{% endif %}
								</div>

							{% endif %}
							<p class="card__author"><i class="card__network-icon fa {% if network == 'youtube' %}fa-youtube-play{% elseif network|lower == 'facebookpages' %}fa-facebook{% else %}fa-{{ network|lower }}{% endif %}"></i> @{{ author }}</p>
							<p class="card__read-more">By {{ author }}</p>
						{% elseif cardType == 'article' %}
							<div class="card__text-wrap">
								<h3 class="card__headline">{{ headline | raw }}</h3>
								{% if thumbnail != '' %}
									<div class="card__image" style="background-image: url('{{ thumbnail }}');background-size: cover;background-position:center center;">
										{% if hasVideo == 'y' %}
											<img class="card__play-button" src="{{networkData.templatePath}}/static/images/icons/play-white.svg" alt="Play video button">
										{% endif %}
									</div>
								{% endif %}
							</div>
							<p class="card__text">{{ text|striptags[:240] ~ '...' }}</p>
							<div class="author-profile">
								<img src="{{ authorImage }}" alt="" class="author-profile__image">
								<div class="author-profile__name">
									<div class="author-profile__first-name">By {{ author }}</div>
									<div class="author-profile__last-name">{{ date }}</div>
								</div>
							</div>

						{% endif %}
					</div>
					{% if thumbnail != '' %}
						<div class="card__big-image" style="background-image: url('{{ thumbnail }}');background-size: cover;background-position:center center;">
							{% if hasVideo == 'y' %}
								<img class="card__play-button" src="{{networkData.templatePath}}/static/images/icons/play-white.svg" alt="Play video button">
							{% endif %}
						</div>
					{% endif %}

				</div>
			</div>
			<textarea style="width: 100%; height: 50px; position: absolute; bottom: 0; right: 0;">{{dump(article)}}</textarea>
		</a>
	</article>

{% endblock %}
